<div style="display: flex; height: 100%; justify-content: center; align-items: center;position: relative;z-index: 99999999">
  <nb-card accent="danger" style="max-width: 507px; width: 100%;">
    <nb-card-header>Brasal - Software LDAP</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">

        <div class="form-group">
          <label for="username">E-Mail:</label>
          <input type="email" id="username" formControlName="username" placeholder="exemplo@brasal.com.br" nbInput fullWidth>
        </div>

        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" formControlName="password" placeholder="*****" nbInput fullWidth>
        </div>

        <div class="row">
          <div class="col-6">
            <button nbButton status="warning" ghost size="small" style="padding: 4px 2px;">Esqueci a senha</button>
          </div>
          <div class="col-6 d-flex flex-row-reverse pt-1">
            <nb-checkbox status="info">Manter logado</nb-checkbox>
          </div>
          <div class="col-12 mt-3">
            <button nbButton status="primary" fullWidth>Login</button>
          </div>
        </div>

      </form>
    </nb-card-body>
  </nb-card>
</div>
