<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <nb-card style="width: 720px;">


    <nb-card-header>Alteraração de Senha</nb-card-header>

    <nb-card-body>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="password">Senha:</label>
            <nb-form-field>
              <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" nbInput fullWidth>
              <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
<!--            <input type="password" id="password" formControlName="password" nbInput fullWidth>-->
            <password-strength-meter [password]="form.get('password').value"></password-strength-meter>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="confirm_password">Confirmação de senha:</label>
            <input type="password" id="confirm_password" name="confirm_password" formControlName="confirm_password" nbInput fullWidth>
          </div>
        </div>

      </div>

    </nb-card-body>

    <nb-card-footer>

      <div class="row d-flex justify-content-between">
        <div class="col-6">
          <button nbButton fullWidth status="basic" type="button" (click)="close()"><nb-icon icon="arrow-back-outline"></nb-icon>&nbsp;Cancelar</button>
        </div>
        <div class="col-6">
          <button nbButton fullWidth status="success" type="submit"><nb-icon icon="checkmark-outline"></nb-icon>&nbsp;Salvar</button>
        </div>
      </div>

    </nb-card-footer>


  </nb-card>

</form>
