nb-layout {
  nb-layout-column {
    position: relative;
    background: url("../../assets/images/bg_home_brasal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
  }
  nb-layout-column::before {
    background: rgba(0, 0, 0, .8);
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
}
