nav {
  ul.pagination {
    li.page-item {
      button.page-link {
        background: #edf1f7;
        color: #000000;
        font-weight: bold;
        transition: background-color 0.5s ease;
        &:hover {
          background: #edf4ff;
        }
        &:disabled {
          background: #E4E7ED;
          color: #BBC2D2;
        }
      }
      button.page-link.active {
        &:disabled {
          background: #4CAF50;
          color: #FFFFFF;
        }
      }
    }
  }
}
