<div class="row d-flex justify-content-center">
  <div class="col-12">
    <nb-card [nbSpinner]="loading.usuarios" nbSpinnerMessage="Carregando lista de usuários..." nbSpinnerStatus="primary">
      <nb-card-header>
        <div class="row">
          <div class="col-8 pt-2">
            Lista de Usuários
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button type="button" status="success" nbButton (click)="createUser()">
              <nb-icon icon="plus-circle-outline"></nb-icon>&nbsp;Cadastrar
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>

        <p-table
          [columns]="cols"
          [loading]="loading.usuarios"
          [rows]="15"
          [value]="usuarios"
          dataKey="id"
          class="p-datatable-responsive-demo"
        >
          <ng-template pTemplate="loading">
            <tr>
              <th class="text-center" colspan="{{cols.length}}">
                Carregando Aguarde...
              </th>
            </tr>
          </ng-template>
          <ng-template let-columns pTemplate="header">
            <tr>
              <th *ngFor="let col of columns" [ngStyle]="{width: col.width}" class="{{col.class}}">
                {{col.header}}
              </th>
              <th style="width: 130px;"></th>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr>
              <td *ngFor="let col of cols" class="{{col.class}}" [ngSwitch]="col.field">
                <ng-template ngSwitchDefault>
                  <span class="p-column-title">{{col.header}}</span>
                  {{rowData[col.field]}}
                </ng-template>
                <ng-template ngSwitchCase="station_id">
                  <span class="p-column-title">{{col.header}}</span>
                  {{getPostoInfo(rowData[col.field])}}
                </ng-template>
              </td>
              <td class="d-flex justify-content-between">
                <button
                  nbButton
                  outline
                  status="info"
                  type="button"
                  (click)="editUser(rowData)"
                >
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button
                  nbButton
                  outline
                  status="warning"
                  type="button"
                  (click)="changeUserPassword(rowData)"
                >
                  <nb-icon icon="lock-outline"></nb-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div *ngIf="pagination" class="row pt-3">
          <div class="col-12 col-xl-2 pt-2 mb-3 mb-xl-0">
            <p class="p-0 m-0 text-center text-lg-left">Total: {{pagination.total}}</p>
          </div>
          <div class="col-12 col-xl-10 d-flex justify-content-center justify-content-xl-end">

            <nav aria-label="navigation">
              <ul class="pagination">
                <li class="page-item">
                  <button
                    (click)="getUsuarios(1)"
                    [disabled]="pagination.current_page == 1"
                    class="page-link"
                  >
                    <nb-icon icon="arrowhead-left-outline" class="d-md-none"></nb-icon>
                    <span class="d-none d-md-block">Primeira</span>
                  </button>
                </li>
                <li *ngFor="let link of pagination.links; let i = index" class="page-item">
                  <button
                    (click)="getUsuarios(parseUrl(link.url))"
                    [class.active]="link.active"
                    [disabled]="link.active || !link.url"
                    [ngSwitch]="link.label"
                    class="page-link"
                  >
                    <ng-template ngSwitchCase="pagination.next">
                      <nb-icon icon="chevron-right-outline" class="d-md-none"></nb-icon>
                      <span class="d-none d-md-block">Próximo</span>
                    </ng-template>
                    <ng-template ngSwitchCase="pagination.previous">
                      <nb-icon icon="chevron-left-outline" class="d-md-none"></nb-icon>
                      <span class="d-none d-md-block">Anterior</span>
                    </ng-template>
                    <ng-template ngSwitchDefault>{{link.label}}</ng-template>
                  </button>
                </li>
                <li class="page-item">
                  <button
                    (click)="getUsuarios(pagination.last_page)"
                    [disabled]="pagination.current_page >= pagination.last_page"
                    class="page-link"
                  >
                    <nb-icon icon="arrowhead-right-outline" class="d-md-none"></nb-icon>
                    <span class="d-none d-md-block">Última</span>
                  </button>
                </li>
              </ul>
            </nav>

          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
