<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nb-card style="width: 720px;" [nbSpinner]="loading.usuarios" nbSpinnerMessage="Carregando lista de usuários..." nbSpinnerStatus="primary">


      <nb-card-header>Editar Usuário</nb-card-header>

      <nb-card-body>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" formControlName="name" nbInput fullWidth>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="username">Usuario:</label>
              <input type="text" id="username" name="username" formControlName="username" nbInput fullWidth>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="email">E-Mail:</label>
              <input type="text" id="email" name="email" formControlName="email" nbInput fullWidth>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="station_id">name:</label>
              <ng-select
                formControlName="station_id"
                [items]="postos"
                bindLabel="name"
                bindValue="id"
                id="station_id"
                [loading]="loading.postos"
                [loadingText]="'Carregando...'"
                [notFoundText]="'Lista de Postos Vázia'"
                [clearable]="false"
                [searchable]="true"
              >
                <ng-template let-item="item" ng-label-tmp>
                  {{item.id}} - {{item.name}}
                </ng-template>
                <ng-template let-index="index" let-item="item" ng-option-tmp>
                  {{item.id}} - {{item.name}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="form-group">
              <label for="name">Data cadastro:</label>
              <input type="text" [value]="usuario.created_at | date : 'dd/MM/yyyy HH:mm:ss'" nbInput fullWidth disabled>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="form-group">
              <label for="name">Últ. atualização:</label>
              <input type="text" [value]="usuario.updated_at | date : 'dd/MM/yyyy HH:mm:ss'" nbInput fullWidth disabled>
            </div>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <div class="row d-flex justify-content-between">
          <div class="col-6">
            <button nbButton fullWidth status="basic" type="button" (click)="close()"><nb-icon icon="arrow-back-outline"></nb-icon>&nbsp;Cancelar</button>
          </div>
          <div class="col-6">
            <button nbButton fullWidth status="success" type="submit"><nb-icon icon="checkmark-outline"></nb-icon>&nbsp;Salvar</button>
          </div>
        </div>

      </nb-card-footer>


  </nb-card>

</form>
