@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import "~@ng-select/ng-select/themes/default.theme.css";

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;

body {
  overflow: hidden !important;
}

.ng-select .ng-select-container {
  background-color: #f7f9fc!important;
  border-color: #e4e9f2!important;
  height: 40px!important;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.4375rem .4rem 0.4375rem 1rem;
  border-radius: 0.25rem;
}

nav {
  ul.pagination {
    li.page-item {
      button.page-link {
        background: #edf1f7;
        color: #000000;
        font-weight: bold;
        transition: background-color 0.5s ease;
        &:hover {
          background: #edf4ff;
        }
        &:disabled {
          background: #E4E7ED;
          color: #BBC2D2;
        }
        nb-icon {
          font-size: 1rem;
        }
      }
      button.page-link.active {
        &:disabled {
          background: #4CAF50;
          color: #FFFFFF;
        }
      }
    }
  }
}


.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 768px) {

  .p-datatable-responsive-demo .p-datatable-thead {
    display: none;
  }

  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: block;
  }

  p-table {
    &.p-datatable-responsive-demo {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
        width: auto!important;
      }

      .p-datatable-tbody > tr > td {
        text-align: left!important;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
        padding: .5rem .5rem;

        button {
          width: 100%!important;
          &:last-child {
            margin-left: 8px;
          }
        }

        .p-column-title {
          padding: .4rem;
          min-width: 30%;
          display: inline-block;
          margin: -.4em 1em -.4em -.4rem;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}
