<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img src="assets/images/logo_brasal_x64.png" alt="Brasal" height="48">
    </a>
  </div>
  <span *ngIf="!env.production" style="font-weight: bold; color: #fff700; font-size: 18px">
    DEVELOPMENT
  </span>
<!--  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">-->
<!--    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>-->
<!--  </nb-select>-->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="user-action" >
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="usuario?.name"
        [color]="'#ffffff'"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
