<div class="row d-flex justify-content-center">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-8 pt-2">
            Lista de Atendentes
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button type="button" status="success" nbButton (click)="cadastrarAtendente()">
              <nb-icon icon="plus-circle-outline"></nb-icon>&nbsp;Cadastrar
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>


        <div class="row mb-3">
          <div class="col-3">
            <label>Postos</label>
            <ng-select
              [items]="postos"
              bindLabel="name"
              bindValue="id"
              [searchable]="false"
              [clearable]="true"
              [loading]="loading.filiais"
              [(ngModel)]="filter.station"
            ></ng-select>
<!--            <nb-select placeholder="NgModel" fullWidth>-->
<!--              <nb-option *ngFor="let posto os postos" [value]="posto.id">{{posto.name}}</nb-option>-->
<!--            </nb-select>-->
          </div>
          <div class="col-3">
            <label>Ordenar</label>
            <nb-select placeholder="NgModel" [(ngModel)]="filter.orderBy" fullWidth>
              <nb-option [value]="'id'">ID</nb-option>
              <nb-option [value]="'name'">Nome</nb-option>
              <nb-option [value]="'station_id'">Filial</nb-option>
            </nb-select>
          </div>
          <div class="col-3">
            <label>Limite</label>
            <nb-select placeholder="NgModel" [(ngModel)]="filter.limit" fullWidth>
              <nb-option [value]="15">15</nb-option>
              <nb-option [value]="30">30</nb-option>
              <nb-option [value]="50">50</nb-option>
              <nb-option [value]="100">100</nb-option>
            </nb-select>
          </div>
          <div class="col-3" style="padding-top: 28px;">
            <button type="button" status="success" nbButton fullWidth (click)="getAtendentes(1)">
              <nb-icon icon="plus-circle-outline"></nb-icon>&nbsp;Filtrar
            </button>
          </div>
        </div>

        <p-table
          [value]="atendentes"
          [columns]="cols"
          [loading]="loading.atendentes"
          dataKey="id"
          [rows]="15"
          class="p-datatable-responsive-demo"
        >
          <ng-template pTemplate="loading">
            <tr>
              <th colspan="{{cols.length}}" class="text-center">
                Carregando Aguarde...
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngStyle]="{width: col.width}" class="{{col.class}}">
                {{col.header}}
              </th>
              <th style="width: 100px;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of cols" class="{{col.class}}" [ngSwitch]="col.field">
                <ng-template ngSwitchDefault>
                  <span class="p-column-title">{{col.header}}</span>
                  {{rowData[col.field]}}
                </ng-template>
                <ng-template ngSwitchCase="station_id">
                  <span class="p-column-title">{{col.header}}</span>
                  {{getPostoInfo(rowData[col.field])}}
                </ng-template>
              </td>
              <td class="d-flex justify-content-end">
                <button type="button" nbButton outline status="info" (click)="editarAtendente(rowData)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div class="row pt-3" *ngIf="pagination">
          <div class="col-12 col-xl-2 pt-2 mb-3 mb-xl-0">
            <p class="p-0 m-0 text-center text-lg-left">Total: {{pagination.total}}</p>
          </div>
          <div class="col-12 col-xl-10 d-flex justify-content-center justify-content-xl-end">

            <nav aria-label="navigation">
              <ul class="pagination">
                <li class="page-item">
                  <button
                    class="page-link"
                    (click)="getAtendentes(1)"
                    [disabled]="pagination.current_page == 1"
                  >
                    <nb-icon icon="arrowhead-left-outline" class="d-md-none"></nb-icon>
                    <span class="d-none d-md-block">Primeira</span>
                  </button>
                </li>
                <li class="page-item" *ngFor="let link of pagination.links; let i = index">
                  <button
                    class="page-link"
                    [class.active]="link.active"
                    [disabled]="link.active || !link.url"
                    [ngSwitch]="link.label"
                    (click)="getAtendentes(parseUrl(link.url))"
                  >
                    <ng-template ngSwitchCase="pagination.next">
                      <nb-icon icon="chevron-right-outline" class="d-md-none"></nb-icon>
                      <span class="d-none d-md-block">Próximo</span>
                    </ng-template>
                    <ng-template ngSwitchCase="pagination.previous">
                      <nb-icon icon="chevron-left-outline" class="d-md-none"></nb-icon>
                      <span class="d-none d-md-block">Anterior</span>
                    </ng-template>
                    <ng-template ngSwitchDefault>{{link.label}}</ng-template>
                  </button>
                </li>
                <li class="page-item">
                  <button
                    class="page-link"
                    (click)="getAtendentes(pagination.last_page)"
                    [disabled]="pagination.current_page >= pagination.last_page"
                  >
                    <nb-icon icon="arrowhead-right-outline" class="d-md-none"></nb-icon>
                    <span class="d-none d-md-block">Última</span>
                  </button>
                </li>
              </ul>
            </nav>

          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
